.content__places {
    margin: 0 148px;
    max-width: 984px;
}

@media screen and (max-width:1100px) {
    .content__places {
        margin: 0 47px;
    }
}

@media screen and (max-width:768px) {
    .content__places {
        margin: 0 24px;
    }
}

@media screen and (max-width:400px) {
    .content__places {
        margin: 0;
    }
}